html {
}

body {
	color:black;
	font-family: 'Cambo', sans-serif;
	text-align:justify;
	background-image:url("../img/agsquare.png");
	background-repeat:repeat;
    overflow-y:scroll;
}


h3{
    color:#393939;
	margin-top:0;
	margin-bottom:0;
}

h4 {
	color:#393939;
	margin-top:0;
	margin-bottom:5px;
}

a {
	font-family: 'Hammersmith One', sans-serif;
	text-decoration:none;
	color:cadetblue;
	text-shadow:0px 4px 8px #DCDCDC;
}

a:visited {
	color:cadetblue;
}

a:hover {
	text-shadow:0px 4px 2px #BEBEBE;
}

#wrapper {
	min-width:510px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
    padding-left:10px;
    padding-right:10px;
}


#header {
	width: 100%;
    position:relative;
}

#header a {
	font-family: 'Hammersmith One', sans-serif;
	font-size:large;
	text-decoration:none;
	color:#494949;
	text-shadow:0px 4px 8px #DCDCDC;
}

#header a:hover {
	text-shadow:0px 4px 2px #BEBEBE;
	color:black;
}

#footer {
	text-align:center;
	width:100%;
	padding-top:15px;
	font-size:small;
}

#header img {
	vertical-align:middle;
	width:30%;
	margin-right:5%;
}

#nav {
    float:right;
    text-align:right;
    position:absolute;
    right:0;
    top:35%;
    width:70%;
    margin-right:15px;
}

#nav a {
    margin-left:10%;
}

#viewContent {
    padding-left:20px;
    padding-right:20px;
}

#content {
    background-color:white;
    border-radius:10px;
    clear:both;
	margin-top:0;
	width: 100%;
    padding-bottom:20px;
    padding-top:20px;
    box-shadow: inset 0 0 5px #818181;
}

#content::-webkit-scrollbar {
    width: 0.7em;
}
 
#content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius:5px;
    background-color: white;
    box-shadow: inset 0 0 4px #818181;
}
 
#content::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px grey;
    width:0.7em;
    border-radius:5px;
}

img {
}

#darkScreen {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:black;
    filter: alpha(opacity=30);  
    -moz-opacity: 0.3;  
    -khtml-opacity: 0.3;  
    opacity: 0.3;  
    z-index:1000;
}

#loadingPanel {
    background-color:white;
    width:20%;
    position:absolute;
    vertical-align:middle;
    top:30%;
    left:40%;
    z-index:1001;

    padding:10px;
    text-align:center;

    border-radius:8px;
    border:4px double #A0A0A0;
}

#yesNoDialog {
    background-color:white;
    width:20%;
    position:absolute;
    vertical-align:middle;
    top:30%;
    left:40%;
    z-index:1001;

    padding:10px;
    text-align:center;

    border-radius:8px;
    border:4px double #A0A0A0;
}

#chartInput {
    background-color:white;
    width:20%;
    position:absolute;
    vertical-align:middle;
    top:20%;
    left:40%;
    z-index:1001;
    text-align:center;

    padding:10px;

    border-radius:8px;
    border:4px double #A0A0A0;
}

#chartInput table {
    text-align:left;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}

.mainButton {
    background-color:white;
    border:2px solid #B9B9B9;
    border-radius:4px;
    font-size:0.9em;
    font-weight:600;
	color:#494949;
    box-shadow: inset 0 0 7px #C0C0C0;
    padding-top:2px;
    padding-bottom:2px;

	font-family: 'Cambo', sans-serif;
    cursor:pointer;
}

.mainButton:hover {
    border:2px solid #7BA5F0;
	color:black;
}

.mainTextbox {
    margin-top:5px;
    margin-bottom:5px;
    padding:2px;
}

label {
    font-size: 0.9em;
}

.queryListing {
    padding:10px 10px;
    border-radius:5px;
    border:1px solid #B9B9B9;
    float:left;
    box-shadow: inset 0 0 7px cadetblue;
    background-color:#fbfefe;
    margin:5px 0px;
    margin-right:5px;
}
		
.queryBody {
    clear:both;
    color:#393939;
    font-size:0.8em;
}

.xButton {
    background-image:url("../img/closeUS.png");
                        /*X icon provided by http://www.freeiconsweb.com -->*/
    background-color:transparent;
    border:0;
    float:right;
    border-radius:10px;
    width:24px;
    height:24px;
    cursor:pointer;
    padding:0;
    margin:0;
}

.xButton:hover {
    background-image:url("../img/closeS.png");
}

.xButton:active {
    background-image:url("../img/closeP.png");
}

.xButton:focus {
    outline:0;
}
