@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<p><a href="~/charting/simple">Simple Data</a><br />
Simple data for analysis, such as a list of numbers from 1 to 10<br /><br /></p>
<p><a href="#">Unknown Data</a><br />
Hidden data, illustrating the balance between privacy and utility<br /><br /></p>
<p><a href="#">Home Data</a><br />
Data mined from a smart-home, a real world application of differential privacy<br /><br /></p>
