@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="viewContent">
    <h3>@ViewBag.Message</h3>
    <p><a href="~/charting/simple">Simple Data</a><br />
    Simple data for analysis, such as a list of numbers from 1 to 10<br /></p>
    <p><a href="~/charting/home">Home Data</a><br />
    Data mined from a smart-home, a real world application of differential privacy</p>
</div>