@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="viewContent">
    <h3>@ViewBag.Message</h3>
    <p>
        Pellentesque sollicitudin ligula eget sapien interdum consequat. Mauris sapien sem, feugiat ut condimentum in, posuere quis eros. Vivamus consequat, dui in congue accumsan, nisl tellus viverra tortor, vel laoreet lectus leo quis nulla. Duis sed velit pharetra, molestie nunc et, eleifend enim. Ut ac eros id sem posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare nunc ut pharetra ultricies.
    </p>
</div>