@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="viewContent">
    <h3>@ViewBag.Message</h3>
    <p>
        <img src="~/Content/img/DPExample1.png" id="mainImage"/>DifferentiallyPrivate is an online tool that allows experimentation with differential privacy - a method of applying privacy to data by
        adding noise to queries.
    </p>
    <p>
        Refer to the <a href="@Url.Action("WhatIs","Home")">About</a> section for more information on differential privacy.  For a guide to using 
        this tool, see the <a href="@Url.Action("HowTo","Home")">How To</a> section.
        Once you're ready, try experiments yourself using our <a href="@Url.Action("Charting","Home")">Charting</a>!
    </p>
</div>