@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="viewContent">
    <h3>@ViewBag.Message</h3>
    <p>
        Proin at convallis leo, et iaculis sapien. Etiam at tortor eget nulla consectetur tempor non at eros. Quisque et sem nisi. Aenean lacus quam, convallis a convallis in, placerat aliquam enim. Maecenas tincidunt enim mi, et dapibus lacus rutrum et. Quisque lobortis odio quis ipsum aliquet condimentum. Curabitur ut justo euismod, feugiat eros sed, ultricies nibh. Vivamus eu euismod urna.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id porttitor lectus, a facilisis purus. Integer lobortis gravida tortor, nec gravida felis. Donec eget elit magna. Aenean eget porttitor dui. Donec feugiat sapien nec turpis sagittis feugiat. Nulla a mi sollicitudin tellus consectetur rutrum ut interdum risus. Vestibulum euismod, libero at malesuada euismod, orci augue ultrices urna, non vulputate leo libero eget lacus.
    </p>
    <p>
        Pellentesque sollicitudin ligula eget sapien interdum consequat. Mauris sapien sem, feugiat ut condimentum in, posuere quis eros. Vivamus consequat, dui in congue accumsan, nisl tellus viverra tortor, vel laoreet lectus leo quis nulla. Duis sed velit pharetra, molestie nunc et, eleifend enim. Ut ac eros id sem posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare nunc ut pharetra ultricies.
    </p>
</div>